.App {
  text-align: center;
  color: blue;
}

.link-style {
  color: blueviolet;
}

.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 1rem;
}

.page-title {
  color: blueviolet;
  text-align: center;
}